<ion-view title="Intro to MS Word" id="page2">
  <ion-content padding="true" class="has-header">
    <h2 id="introToMSWord-heading1" style="color:#000000;">Intro to MS Word</h2>
    <div ng-init="videourl_video1=&quot;https://www.youtube.com/embed/eDEVNcSArlc?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="introToMSWord-video1">
      <iframe src="{{videourl_video1}}" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <ion-list id="introToMSWord-list2">
      <ion-item class="item-avatar" id="introToMSWord-list-item5">
        <img src="img/AGF-l7_rLLMZbsz7ZRhSY8Nki7BXgYoasNm4YRMVs48-mo-c-c0xffffffff-rj-k-no">
        <h2>Description</h2>
      </ion-item>
    </ion-list>
    <div id="introToMSWord-markdown2" class="show-list-numbers-and-dots">
      <p style="color:#000000;">A brief introduction to the popular Word 2016 application. It will show the below topics:</p>

      <p style="color:#000000;">• Creating / Opening Documents • Typing Text (Paragraphs, Bullets, Titles) Italics, Underline • Headings as Bookmarks (Automatic Table of Contents) • Changing Designs • Page Margins • Spell Check (F7)</p>
    </div>
  </ion-content>
</ion-view>