<ion-view title="Intro to MS Excel" id="page4">
  <ion-content padding="true" class="has-header">
    <h2 id="introToMSExcel-heading2" style="color:#000000;">Intro to MS Excel</h2>
    <div ng-init="videourl_video2=&quot;https://www.youtube.com/embed/rwbho0CgEAE?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="introToMSExcel-video2">
      <iframe src="{{videourl_video2}}" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <ion-list id="introToMSExcel-list4">
      <ion-item class="item-avatar" id="introToMSExcel-list-item7">
        <img src="img/AGF-l7-nmrBAF3N_5PSQoq_bLPIV_CIWdSl-MWdUyAs48-mo-c-c0xffffffff-rj-k-no">
        <h2>Description</h2>
      </ion-item>
    </ion-list>
    <div id="introToMSExcel-markdown3" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Learn the basics of using Microsoft Excel, including the anatomy of a spreadsheet, how to enter data, how to make your data look good so it's easier to read and use, and more.</p>
    </div>
    <div class="spacer" style="width: 300px; height: 25px;"></div>
    <a ui-sref="introToMSWord()" id="introToMSExcel-button1" class="button button-positive button-block">Click to Intro to Word</a>
  </ion-content>
</ion-view>