<ion-view title="Mobile apps training" id="page1">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/Zy48oB4tTY6dDzTFQoUy_MS_Office.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <ion-list id="mobileAppsTraining-list1">
      <ion-item class="item-icon-left" id="mobileAppsTraining-list-item3">
        <i class="icon ion-ios-lightbulb-outline"></i>Category</ion-item>
      <ion-item class="item-thumbnail-left positive" id="mobileAppsTraining-list-item1" ui-sref="introToMSWord()">
        <img src="img/YTPo6mMuR2OsEYUvnNAe_word_icon.jpg">
        <h2positive>MS Word basic
          <p style="white-space:normal;">Introduction topic to MS Word</p>
        </h2positive>
      </ion-item>
      <ion-item class="item-thumbnail-left positive" id="mobileAppsTraining-list-item2" ui-sref="introToMSExcel()">
        <img src="img/fIcHSJjTRUWVHm7cmtXQ_excel_icon.jpg">
        <h2positive>MS Excel basic
          <p style="white-space:normal;">Introduction topic to MS Excel</p>
        </h2positive>
      </ion-item>
      <ion-item class="item-icon-left" id="mobileAppsTraining-list-item13" ui-sref="pDFDownload()">
        <i class="icon ion-ionic"></i>Download pdf</ion-item>
    </ion-list>
    <a ui-sref="contactUs()" id="mobileAppsTraining-button2" class="button button-positive button-block">Contact Us</a>
  </ion-content>
</ion-view>