<ion-view title="Slider Page" id="page7">
  <ion-content padding="true" scroll="false" class="has-header">
    <ion-slides disable-side-menu-drag="" options="{'loop': false}" slider="slider2" delegate-handle="slider2" id="sliderPage-slider2" style="width:100%;height:100%;">
      <ion-slide-page id="sliderPage-slide28" style="background:url(&quot;img/avfsZwJT9WGsBj982ul1_kitten1.jpg&quot;) no-repeat center;background-size:cover;background-color:#3B5AA8;">
        <h1 id="sliderPage-heading4" style="color:#000000;">Learn MS Word</h1>
      </ion-slide-page>
      <ion-slide-page id="sliderPage-slide29" style="background:url(&quot;img/gHd5vedGQJu4s4qsPQvr_kitten2.jpg&quot;) no-repeat center;background-size:cover;background-color:#F1B459;"></ion-slide-page>
      <ion-slide-page id="sliderPage-slide210" style="background:url(&quot;img/WE6rB9dZRTiIWQlP5qsA_kitten3.jpg&quot;) no-repeat center;background-size:cover;background-color:#E07BC0;"></ion-slide-page>
    </ion-slides>
  </ion-content>
</ion-view>